/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a.active {
  background-color: white;
} */