.login-form {
  max-width: 300px;
}
.login-form__forgot {
  float: right;
}
.login-form__button {
  width: 100%;
}
.register-form {
  max-width: 400px;
}
.content__wrapper {
  background: #fff;
  padding: 20px;
  min-height: 280px;
}
.content__spin-wrapper {
  opacity:    0.5; 
  background: #fff; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__form {
  display: flex;
  justify-content: center;
}
.content__title, .content__description {
  text-align: center;
}
.create-calculator__button {
  margin-right: 8px;
  margin-bottom: 12px;
}

$height-drop-area: 200px;

.create-calculator__drop-area {
  margin: 20px;
  min-height: $height-drop-area;
  padding: 20px;
  border: 1px dashed #757272;
}
.create-calculator__preview {
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
.create-calculator__drop-area__text {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: $height-drop-area;
}
.create-calculator__drop-element {
  border: 1px dashed gray;
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: move;
  float: left;
};
.ant-card-extra {
  width: 100%;
}
.edit-element-box__header {
  display: flex;
  justify-content: space-between;
}
